.cards{
    display: flex;
}
.mensaje{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.hola{
    margin-bottom: 30px;
}
.now{
    display: flex;
    justify-content: center;
    margin: 20px;
    text-align: center;
}