.intro{
    text-decoration: underline;
    margin: 30px;
}
.links{
    flex-flow: column wrap;
    display: flex;
    justify-content: center;
    margin: 40px;
}
.links a{
    width: 100%;
    margin: 10px;
}
.icon{
    height: 30px;
    width: 50px;
}
.gmail{
    display: flex;
    justify-content: center;
}
